<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>联系方式</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>刘永栈的联系方式</h1>
      </div>
      <p class="lead">职位：运维工程师、运维开发工程师</p>
      <p class="lead">QQ：1665439369</p>
      <p class="lead">手机：15768216871</p>
    </div>

  </body>
</html>

